.section_one {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper {
  width: 100%;
  height: 100%;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bgImage {
  object-fit: cover;
  object-position: center;
  z-index: 0;
}


.overlay {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.679);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 2rem;
  border-radius: 8px;
  display: none;
}

.title {
  font-size: 40px;
  font-weight: 700;
  font-family: "Neulis";
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 16px;
  color: #fff;
  margin-bottom: 2rem;
}

.button {
  background-color: #bc9c6b;
  color: white;
  font-weight: 600;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}

.icon {
  width: 20px;
  height: 20px;
}



.newsSection {
  background-color: #0f1b30;
  padding: 4rem 2rem;
  color: white;
}

.newsContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.newsText {
  flex: 1 1 40%;
}

.newsLabel {
  color: #bc9c6b;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}

.newsTitle {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.newsDescription {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

.newsCard {
  background-color: #1c2a45;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex: 1 1 50%;
  min-width: 300px;
  max-width: 550px;
}

.newsImage {
  width: 150px;
  object-fit: cover;
}

.newsCardContent {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newsCardTitle {
  font-size: 1rem;
  color: #bc9c6b;
  margin-bottom: 0.5rem;
}

.newsCardText {
  font-size: 0.9rem;
  color: #ccc;
}

.paginationDots {
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 999px;
  background-color: #555;
}

.dot.active {
  background-color: #bc9c6b;
}

@media (max-width: 768px) {
  .section_one,
  .swiper,
  .banner {
    height: 570px;
  }
  .bgImage {
    object-fit: cover;
    object-position: center;
  }
  .title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 14px;
  }
  .button {
    font-size: 0.9rem;
    padding: 0.6rem 1.2rem;
  }

  .banner {
    margin-top: 3rem;
  }

}

.bannerSwiper {
  position: relative;
}

.bannerSwiper :global(.swiper-button-prev),
.bannerSwiper :global(.swiper-button-next) {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ce102c;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.bannerSwiper :global(.swiper-button-prev::after),
.bannerSwiper :global(.swiper-button-next::after) {
  font-size: 22px;
  font-weight: 600;
}

.bannerSwiper :global(.swiper-button-prev) {
  left: 80px;
}

.bannerSwiper :global(.swiper-button-next) {
  right: 20px;
}


@media (max-width: 1024px) {
  .bannerSwiper :global(.swiper-button-prev) {
    left: 20px;
  }

  .bannerSwiper :global(.swiper-button-prev),
  .bannerSwiper :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
  }

  .bannerSwiper :global(.swiper-button-prev::after),
  .bannerSwiper :global(.swiper-button-next::after) {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .bannerSwiper :global(.swiper-button-prev),
  .bannerSwiper :global(.swiper-button-next) {
    width: 36px;
    height: 36px;
  }

  .bannerSwiper :global(.swiper-button-prev::after),
  .bannerSwiper :global(.swiper-button-next::after) {
    font-size: 14px;
  }
}
