.sectionAbout {
  color: white;
  padding-bottom: 4rem;
  overflow: hidden;
  margin-top: 70px;
}

.contentWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  width: 47%;
  max-height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 80px;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 53%;
  max-width: 34%;
  margin: 0 auto;
  text-align: center;
}

.tag {
  font-size: 64px;
  color: #CE102C;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: stash-md;
  margin-bottom: 9px;
  line-height: 75px;
}

.description {
  font-size: 19px;
  line-height: 1.6;
  color: #CE102C;
  font-weight: 100;
}

.button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #facd0a;
  color: #0f1425;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  font-family: "Neulis";
}

.button:hover {
  background-color: #fae128;
}

@media (max-width: 1024px) {
  .sectionAbout {
    padding-bottom: 60px;
  }
  .contentWrapper {
   display: block;
   padding: 0;
   width: 100%;
  }
  .image {
    border-top-right-radius: 0px;
  }
  .imageWrapper {
    padding-right: 0px;
    width: 100%;
    max-width: 100%;
  }

  .tag {
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: normal;
    font-size: 32px;
    margin-top: 20px ;
  }
  .textContent {
    margin: 0;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .description {
    font-size: 16px;
    text-align: center;
    max-width: 100%;
  }

  .aboutTitle {
    font-size: 18px;
    text-align: center;
  }
}
