.sectionAbout {
  color: white;
  margin-top: 154px;
  padding-bottom: 4rem;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem;
}

.imageWrapper {
  flex: 1 1 50%;
  position: relative;
  margin-left: calc(-50vw + 50%);
  width: 100vw;
  max-height: 100%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 80px;
  margin-left: 24px;
}

.textContent {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.tag {
  font-size: 14px;
  color: #053282;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "FinalSix";
}

.divider {
  width: 80px;
  height: 2px;
  background-color: #053282;
  margin-top: 4px;
}

.aboutTitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3;
  font-family: "FinalSix";
  color: #0f4196;
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: #0f4196
}

.button {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background-color: #facd0a;
  color: #0f1425;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  font-family: "FinalSix";
}

.button:hover {
  background-color: #fae128;
}

@media (max-width: 1024px) {
  .contentWrapper {
    flex-wrap: wrap;
  }
  .imageWrapper {
    padding-right: 24px;
  }
  .image {
    margin-left: -10%!important;
  }
  .tag {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .description {
    font-size: 12px;
    text-align: center;
  }

  .aboutTitle {
    font-size: 18px;
    text-align: center;
  }
}
