.wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.title {
  font-size: 74px;
  font-weight: 800;
  color: #CE102C;
  font-family: stash-md;
  margin-top: 25px
}

.divider {
  height: 2px;
  background-color: #CE102C;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .title {
    font-size: 26px;
    margin-top: 20px;
  }
}