.wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 24px;
  font-weight: 800;
  color: #0f4196;
  font-family: FinalSix;
  margin-bottom: 0.5rem;
}

.divider {
  height: 2px;
  background-color: #0f4196;
  margin: 0 auto;
}
