.wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 74px;
  font-weight: 800;
  color: #0f4196;
  font-family: Magnolia;
  margin-bottom: 0.5rem;
}

.divider {
  height: 2px;
  background-color: #0f4196;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
}