.wrapper {
  text-align: center;
}

.title {
  font-size: 74px;
  font-weight: 800;
  color: #CE102C;
  font-family: stash-md;
  margin-top: 55px;
}

@media (max-width: 1024px) {
  .title {
    font-size: 26px;
    margin-top: 40px;
  }
}