.filiaisSection {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}



.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: rgb(250 235 200 / 65%);
  padding: 4rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


.tag {
  display: inline-block;
  color: #053282;
  font-family: "FinalSix";
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}
.divider {
  width: 70px;
  height: 2px;
  background-color: #053282;
  margin: 4px auto 0;
}

/* #006efa */

.title {
  font-family: "FinalSix";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #0f4196;
}

.subtitle {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 3rem;
  line-height: 1.6;
  color: #0f4196;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.filiaisSwiper {
  position: static;
  margin-top: 1rem;
}

.filiaisSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 18px
  }
  .subtitle {
    font-size: 12px;
  }
}



