.card {
  background-color: #faebc8;
  border-radius: 12px;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);  
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.content {
  padding: 1rem;
  color: #ffffff;
}

.nome {
  font-family: "FinalSix";
  font-weight: 400;
  color: #0f4196;
  font-size: 16px;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

.endereco {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 1rem;
  letter-spacing: 0;
  min-height: 100px;
}

.endereco img {
  width: 28px;
  height: 28px;
  margin-top: 2px;
  flex-shrink: 0;
}


.divisor {
  border: none;
  height: 1px;
  background-color: #0f4196;
  margin: 1rem 0 0.75rem;
}

.contatoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contato {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons img {
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.icons img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}




