.sectionPractice {
  padding: 4rem 2rem;
  color: #ffffff;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.tag {
  font-size: 0.85rem;
  color: #053282;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Neulis";
  display: inline-block;
}

.divider {
  height: 2px;
  background-color: #053282;
  margin-top: 4px;
}

.title {
  font-size: 24px;
  margin-top: 1rem;
  font-weight: 700;
  font-family: "Neulis";
  color: #0f4196;
}

.subtitle {
  margin: 1rem auto 2rem;
  max-width: 700px;
  font-size: 1rem;
  line-height: 1.6;
  color: #0f4196
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 2rem;
  margin-top: 2rem;
  place-items: stretch;
}

.card {
  background-color: #006efa;
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  text-align: left;
}

.icon {
  flex-shrink: 0;
}

.textWrapper {
  flex: 1;
}

.cardTitle {
  color: #faebc8;
  font-size: 14px;
  font-weight: 700;
  font-family: "Neulis";
  margin-bottom: 0.5rem;
}

.cardText {
  font-size: 14px;
  line-height: 1.5;
  color: #f5f082;
  font-family: "Neulis";
  font-weight: 500;

}

.button {
  margin: 3rem auto 0;
  padding: 0.8rem 1.5rem;
  background-color: #facd0a;
  color: #0f1425;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Neulis";
}

.button:hover {
  background-color:  #fae128;
}

.practiceSwiper {
  position: static;
  margin-top: 1rem;
}

.practiceSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 18px;
  }
  .subtitle {
    font-size: 12px;
  }
  .cardText {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textWrapper {
    text-align: center;
  }

  .button {
    display: none;
  }
}
