.header {
  padding: 2rem 0;
  text-align: center;
  position: relative;
}

.header img {
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

.headerAbsolute {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
  padding: 2rem 0;
  background-color: transparent;
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
}