.finalScreen {
    text-align: center;
    padding: 40px 20px;
    animation: fadeUp 0.4s ease;
  }
  
  .finalIcon {
    color: #3cb371; 
    margin-bottom: 20px;
  }
  
  .finalIconError {
    color: #e53935; 
    margin-bottom: 20px;
  }
  
  .finalTitle {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Gotham";
    color: #facd0a;
  }
  
  .finalText {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 25px;
    font-family: "Gotham";    
  }
  
  .finalButton {
    background: #facd0a;
    color: #0f1425;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Gotham";
    font-weight: 600
    }
  
  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  