.headerMobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #0F4096;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10000;
}

@media (min-width: 1024px) {
  .headerMobile {
    display: none;
  }
}

.logo {
  height: auto;
  padding-top: 3px;
  max-height: 78px;
  width: auto;
}

.menuIcon {
  cursor: pointer;
  width: 32px;
  height: 32px;
}

.header_mobile_hamburguer {
  box-sizing: border-box;
}

.header_mobile_hamburguer button {
  border: none;
  outline: none;
  cursor: pointer;
}

.header_mobile_hamburguer button svg {
  font-size: 30px;
  color: #FFF;
}