.dicasSection {
  position: relative;
  width: 100%;
  height: 670px;
  overflow: hidden;
  background-color: #CE102C;
  padding-left: 63px;
  background-position: cover;
  background-image: url('/genericas/footer-bg-wave.png');
  background-size: cover;
}
.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: rgb(250 235 200 / 65%);
  padding: 20rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.tag {
  display: inline-block;
  color: #CE102C;
  font-family: "Neulis";
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.title {
  font-family: "Neulis";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #CE102C;
}

.subtitle {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto ;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 19px;
    font-weight: 100;
    line-height: 1.6;
    color: #f4e3c0 !important;
}

.carouselWrapper {
  width: 90%;
  margin: 0 auto;
}

.dicasSwiper {
  position: static;
  margin-top: 1rem;
}

.dicasSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    width: 90%;
    font-size: 16px;
    padding: 0;
  }
  .dicasSection {
    padding-left: 0px;
    height: 648px;
  }
}

@media (max-width: 890px) {
  .dicasSection {
    height: auto;
    padding-bottom: 60px;
  }
}

.carouselWrapper {
  position: relative;
  padding-bottom: 80px;
}


.dicasSwiper :global(.swiper-button-prev),
.dicasSwiper :global(.swiper-button-next) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 0, 0);

  position: absolute;
  top: 50%;          
  z-index: 10;
}

.dicasSwiper :global(.swiper-button-prev::after),
.dicasSwiper :global(.swiper-button-next::after) {
  font-size: 16px;
}

@media (max-width: 1124px) {

  .dicasSwiper :global(.swiper-button-prev),
  .dicasSwiper :global(.swiper-button-next) {
    width: 36px;
    height: 36px;
    top: auto;
    bottom: 24px;
  }

  .dicasSwiper :global(.swiper-button-prev::after),
  .dicasSwiper :global(.swiper-button-next::after) {
    font-size: 13px;
  }

  .dicasSwiper :global(.swiper-button-prev) {
    left: 50%;
    transform: translateX(-52px);
  }

  .dicasSwiper :global(.swiper-button-next) {
    right: auto;
    left: 50%;
    transform: translateX(16px);
  }
}
