.dicasSection {
  position: relative;
  width: 100%;
  height: 670px;
  overflow: hidden;
  background-color: #CE102C;
  padding-left: 63px;
}
.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: rgb(250 235 200 / 65%);
  padding: 20rem 2rem;
  min-height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.tag {
  display: inline-block;
  color: #CE102C;
  font-family: "Neulis";
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.title {
  font-family: "Neulis";
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #CE102C;
}

.subtitle {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 12px auto 0;
    padding-bottom: 20px;
    font-size: 19px;
    font-weight: 100;
    line-height: 1.6;
    color: #f4e3c0 !important;
}

.carouselWrapper {
  width: 90%;
  margin: 0 auto;
}

.dicasSwiper {
  position: static;
  margin-top: 1rem;
}

.dicasSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    width: 70%;
    font-size: 16px;
  }
  .dicasSection {
    padding-left: 0px;
  }
}

@media (max-width: 890px) {
  .dicasSection {
    height: 740px;
  }
}
