.receitasSection {
  position: relative;
  width: 100%;
  min-height: 61vh;
  overflow: hidden;
  width: 100%;
  padding-left: 61px;
}

.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.paragrafoTitulo {
  color: white!important;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: hsla(213, 94%, 26%, 0.3);
  padding: 4rem 5rem;
  min-height: 61vh;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.tag {
  display: inline-block;
  color: #CE102C;
  font-family: "Neulis";
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.divider {
  width: 70px;
  height: 2px;
  background-color: #CE102C;
  margin: 4px auto 0;
}

.title {
  font-family: "stash-md";
  font-size: 74px;
  font-weight: 700;
  color: #FACD0A;;
}

.subtitle {
  font-size: 19px;
  margin: 0 auto 3rem;
  line-height: 1.6;
  color: #FFFFFF;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.receitasSwiper {
  position: static;
  margin-top: 1rem;
}

.receitasSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}


.swiper-horizontal {
    position: static!important;
}
@media (max-width: 1024px) {
  .receitasSection {
    padding-left: 0;
  }
  .title {
    font-size: 32px
  }
  .subtitle {
    font-size: 14px;
  }
  .paragrafoTitulo {
    margin-top: 20px;
    font-size: 16px;
  }
}

.carouselWrapper {
  padding-bottom: 49px;
  max-width: 1200px;
  position: relative;

}



.receitasSwiper :global(.swiper-button-prev),
.receitasSwiper :global(.swiper-button-next) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ce102c;

  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white !important;

  position: absolute;
  top: 60%;
  z-index: 10;
  opacity: 1 !important;
  visibility: visible !important;
}



.receitasSwiper :global(.swiper-button-prev::after),
.receitasSwiper :global(.swiper-button-next::after) {
  font-size: 16px;
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}




.receitasSwiper :global(.swiper-button-prev) {
  top: 40%;
  transform: translateX(-70px);
}

.receitasSwiper :global(.swiper-button-next) {
  top: 40%;
  transform: translateX(70px);
}

@media (max-width: 1124px) {
  .overlay {
    padding: 4rem 3rem;
  }

  .receitasSwiper :global(.swiper-button-prev),
  .receitasSwiper :global(.swiper-button-next) {
    width: 36px;
    height: 36px;
    top: auto;
    bottom: 70px;
  }

  .receitasSwiper :global(.swiper-button-prev::after),
  .receitasSwiper :global(.swiper-button-next::after) {
    font-size: 13px;
  }

  .receitasSwiper :global(.swiper-button-prev) {
    top: 45%;
    transform: translateX(-52px);
  }

  .receitasSwiper :global(.swiper-button-next) {
    top: 40%;
    transform: translateX(52px);
  }
  .carouselWrapper {
    padding-bottom: 20px;
  }
}
