.receitasSection {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-left: 61px;
  height: auto;
  border-top: 6px solid #ffc600;
}

.backgroundImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.button {
  margin-top: 2.4rem;
  background-color: #facd0a;
  color: #0f1425;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
  font-family: "Neulis";
  padding: 0.8rem 1.5rem;
}
.paragrafoTitulo {
  color: white!important;
  font-size: 19px;
}

.overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  background: hsla(213, 94%, 26%, 0.3);
  box-sizing: border-box;
  height: auto;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 30px;

}

.tag {
  display: inline-block;
  color: #CE102C;
  font-family: "Neulis";
  font-size: .85rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.divider {
  width: 70px;
  height: 2px;
  background-color: #CE102C;
  margin: 4px auto 0;
}

.title {
  font-family: "stash-md";
  font-size: 74px;
  font-weight: 700;
  color: #FACD0A;;
}

.subtitle {
  font-size: 19px;
  margin: 0 auto 3rem;
  line-height: 1.6;
  color: #FFFFFF;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.receitasSwiper {
  position: static!important;
  margin-top: 1rem;
}

.receitasSwiper :global(.swiper-pagination) {
  position: relative;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1024px) {
  .tag {
    margin-bottom: 0;
    margin-top: 15px;
  }
  .receitasSection {
    padding-left: 0;
  }
  .title {
    font-size: 32px
  }
  .subtitle {
    font-size: 14px;
  }
  .paragrafoTitulo {
    margin-top: 20px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.carouselWrapper {
  padding-bottom: 49px;
  max-width: 1200px;
  position: relative;
}
.carouselWrapper :global(.swiper-button-prev),
.carouselWrapper :global(.swiper-button-next) {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ce102c;

  display: flex !important;

  align-items: center;
  justify-content: center;
  color: white !important;

  position: absolute;
  top: 60%;
  z-index: 10;
}
.carouselWrapper :global(.swiper-button-prev::after),
.carouselWrapper :global(.swiper-button-next::after) {
  font-size: 16px;
}




.carouselWrapper :global(.swiper-button-prev) {
  top: 40%;
  transform: translateX(-70px);
}

.carouselWrapper :global(.swiper-button-next) {
  top: 40%;
  transform: translateX(70px);
}

@media (max-width: 1124px) {
  
  .carouselWrapper :global(.swiper-button-prev),
  .carouselWrapper :global(.swiper-button-next) {
    width: 36px;
    height: 36px;
    top: auto;
    bottom: 70px;
  }

  .carouselWrapper :global(.swiper-button-prev::after),
  .carouselWrapper :global(.swiper-button-next::after) {
    font-size: 13px;
  }

  .carouselWrapper :global(.swiper-button-prev) {
  top: 40%;
    transform: translateX(-52px);
  }

  .carouselWrapper :global(.swiper-button-next) {
  top: 40%;
    transform: translateX(52px);
  }
  .carouselWrapper {
    padding-bottom: 20px;
  }
}
