/* FinalSix */
@font-face {
  font-family: "Neulis";
  src: url("/fonts/NEULIS/NEULIS/NeulisAlt-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "stash-md";
  src: url("/fonts/STASH/Stash-Md.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}


body {
  background-color: #F4E3C0;
}

h1,
h2,
h3,
p,
span {
  font-family: "Neulis", sans-serif;
}

p {
  color: black!important;
}
.glow {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, var(--accent) 0%, transparent 70%);
  opacity: 0.08;
  filter: blur(100px);
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.all-content {
  width: 100%;
  overflow: hidden;
}

.all-contente {
  text-align: center;
}