/* FinalSix */
@font-face {
  font-family: "FinalSix";
  src: url("/fonts/FinalSix/FinalSix-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "FinalSix";
  src: url("/fonts/FinalSix/FinalSix-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "FinalSix";
  src: url("/fonts/FinalSix/FinalSix-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "FinalSix";
  src: url("/fonts/FinalSix/FinalSix-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Magnolia";
  src: url("/fonts/Magnolia Script.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}


body {
  background-color: #faebc8;
}

h1,
h2,
h3,
p,
span {
  font-family: "FinalSix", sans-serif;
}


.glow {
  position: absolute;
  top: -100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, var(--accent) 0%, transparent 70%);
  opacity: 0.08;
  filter: blur(100px);
  z-index: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.content-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.all-content {
  width: 100%;
  overflow: hidden;
}

.all-contente {
  text-align: center;
}