.receitasSection {
  position: relative;
  width: 100%;
  min-height: 61vh;
  overflow: hidden;
  padding-left: 61px;
}

.backgroundImage {
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)) !important;
  min-height: 61vh;
  padding: 4rem 0
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.titleWrapper {
  margin-bottom: 40px;
}

.title {
  background: hsla(0, 2%, 9%, 0.7);
  border: 1px solid #facd0a;
  border-radius: 39px;
  color: #facd0a;
  font-family: "stash-md";
  font-size: 31.5px;
  font-weight: 700;
  padding: 14px 39px;
  text-align: center;
  line-height: normal;
}

.content {
  display: flex;
  gap: 22px;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  width: 249px;
  height: 249px;
  border-radius: 40px;
  overflow: hidden;
  border: 1px solid #facd0a;
  transition: all .4s ease;
}

.cardLink {
  display: block;
  width: 100%;
  height: 100%;
}

.cardBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.iconWrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.icon {
  width: 52px;
  transition: all .4s ease;
}

.card:hover .icon {
  transform: scale(2);
}


.logo {
  width: 50px;
  max-width: 50px;
}


.titleWrapper {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.cardBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.iconWrapper {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


.cardLink {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}


.cardLink::after {
  content: "";
  position: absolute;
  inset: 0;
  background: hsla(0, 2%, 9%, 0.7);
  transition: all 0.4s ease;
  z-index: 1;
}


.card:hover .cardLink::after {
  background: hsla(0, 2%, 9%, 0.9);
}

.cardBg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}

.iconWrapper {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media (max-width: 1330px) {
  .content {
    flex-wrap: wrap;
  }
  .card {
    display: inline-block;
    height: 150px;
    position: relative;
    width: 150px;
  }
}

@media (max-width: 991px) {
  .card {
    height: 250px !important;
    margin: 0 auto;
    width: 250px !important;
  }

  .title {
    background: transparent;
    border: 0;
    font-size: 27.5px;
    margin-left: auto;
    margin-right: auto;
    max-width: 351px;
    padding: 0;
    position: relative;
    z-index: 2;
  }
}

@media (max-width: 1024px) {
  .receitasSection {
    padding-left: 0;
  }

  .title {
    font-size: 28px;
  }
}

/* Swiper Styles */
.rirSwiper {
  position: relative;
  display: none;
}

.rirSwiper :global(.swiper-button-prev),
.rirSwiper :global(.swiper-button-next) {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ce102c;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.rirSwiper :global(.swiper-button-next:after) {
  font-size: 22px;
  font-weight: 600;
}

.rirSwiper :global(.swiper-button-prev:after) {
  font-size: 22px;
  font-weight: 600;
}

.rirSwiper :global(.swiper-button-prev) {
  left: 20px;
}

.rirSwiper :global(.swiper-button-next) {
  right: 20px;
}

.contentMobile {
  display: none;
}

@media (max-width: 768px) {
  .content {
    display: none;
  }

  .rirSwiper {
    display: block;
  }

  .rirSwiper :global(.swiper-button-prev),
  .rirSwiper :global(.swiper-button-next) {
    width: 40px;
    height: 40px;
  }

  .rirSwiper :global(.swiper-button-prev::after) {
    font-size: 16px;
  }
  .rirSwiper :global(.swiper-button-next::after) {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .rirSwiper :global(.swiper-button-prev),
  .rirSwiper :global(.swiper-button-next) {
    width: 22px;
    height: 22px;
  }

  .rirSwiper :global(.swiper-button-prev) {
    left: 4px;
  }
  
  .rirSwiper :global(.swiper-button-next) {
    right: 4px;
  }

  .rirSwiper :global(.swiper-button-prev::after) {
    font-size: 10px;
  }
  .rirSwiper :global(.swiper-button-next::after) {
    font-size: 10px;
  }

  .rirSwiper :global(.swiper-button-prev::after),
  .rirSwiper :global(.swiper-button-next::after) {
    font-size: 14px;
  }
}