.section_two {
    background-color: #faebc8;
    margin-left: 4rem;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.left {
    margin-bottom: 3rem;
}

.title {
    font-size: 34px;
    font-weight: 800;
    color: #0f4196;
    font-family: FinalSix;
    max-width: 380px;
    margin: 0 auto 1rem;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #0f4196;
    margin: 6px auto 0;
}

.description {
    font-size: 19px;
    font-weight: 100;
    color: #0f4196;
    line-height: 1.6;
}
.productsGrid {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
    place-items: center;
}
.productsGrid .productCardLink {
    width: 100%;
    text-align: center;
}
.productCard {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.imageWrapper {
    position: relative;
    width: 315px;
    height: 233px;
    margin: 0 auto;
}

.productImage {
    object-fit: contain;
}

.productTitle {
    font-family: Magnolia;
    font-size: 33px;
    font-weight: 800;
    color: #0f4196;
    margin-bottom: 0.5rem;
}

.productText {
    font-size: 14px;
    color: #0f4196;
    line-height: 1.5;
    max-width: 320px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .section_two {
        margin-top: 25px;
        margin-left: 0px;
    }
    .productTitle {
        font-family: Magnolia;
        font-size: 23px;
        font-weight: 800;
        color: #0f4196;
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 768px) {
    .productsGrid {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .section_two {
        margin-left: 0;
    }

    .title {
        font-size: 18px;
        margin-top: 110px;
    }

    .description {
        font-size: 14px;
        padding: 0 1rem;
    }
}


.fullBarWrapper {
  margin: 3rem 0;
  border-top: 2px solid #0f4196;
  border-bottom: 2px solid #0f4196;
  overflow: hidden;
  width: calc(100vw + 4rem);
  left: 50%;
  margin-left: calc(-50vw - 2rem);
  position: relative;
  height: 90px;
  margin-bottom: 10px;
}

.fullBarTrack {
  display: flex;
  width: max-content;
  height: 100%;
}

.fullBar {
  object-fit: cover;
  height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  .fullBarWrapper {
    width: 100vw;
    margin-left: -50vw;
    left: 50%;
    height: 90px;
    border-width: 2px;
    margin-top: 25px;
  }

  .fullBar {
    height: 90px;
  }
}
