.aboutSection {
  padding: 5rem 4rem;
  background: #F4E3C0;
  color: #CE102C;
  text-align: center;
}

.heroPhrase {
  font-family: stash-md;
  font-size: 48px;
  color: #CE102C;
  margin-bottom: 1rem;
}

.heroPhrase span {
  color: #CE102C;
  font-family: stash-md;
}

.title {
  font-family: "Neulis";
  font-size: 34px;
  font-weight: 400;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #CE102C;
}

.subtitle {
  font-family: "Neulis";
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 70px auto;
  max-width: 900px;
  color: #CE102C;
}


.contentWrapper {
  align-items: stretch;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.imageWrapper {
  position: relative;
  flex: 1 1 420px;
  min-height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}


.textBlock {
  flex: 1 1 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-family: "Neulis";
  font-size: 18px;
  line-height: 1.7;
  color: #CE102C;
}

.textBlock strong {
  color: #CE102C;
}

.finalImageWrapper {
  position: relative;
  margin-top: 4rem;
  width: 100%;
  max-width: 1200px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  overflow: hidden;
}

.finalImage {
  object-fit: cover;
}

@media (max-width: 1024px) {

  .heroPhrase {
    font-size: 32px;
    margin-top: 4rem;
  }

  .aboutSection {
    padding: 4rem 1rem;
  }

  .title {
    margin-top: 4rem;
    font-size: 22px;
  }

  .subtitle {
    font-size: 16px;
  }

  .contentWrapper {
    flex-direction: column;
  }

 .imageWrapper {
    min-height: 300px;
  }

  .textBlock {
    font-size: 16px;
    text-align: justify;
  }

  .finalImageWrapper {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .aboutSection {
    padding: 3rem 1rem;
  }
}

